<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
  <style>
    /*
      Figma Background for illustrative/preview purposes only.
      You can remove this style tag with no consequence
    */
    body {background: #E5E5E5; }
    /* Remove underline from links */
    a {text-decoration: none;}
  </style>
</head>
<body>
  <p1><a href="{{url_for('login')}}">Click here to login</a></p1><br><br>
  <p1><a href="{{url_for('register')}}">New here? Register.</a></p1>
  <div class=e24_948>
    <div  class="e24_949"></div>
    <div class=e44_1973>
      <div class=e42_1318>
        <span  class="e42_1319">Hospital Name</span>
        <div class=e42_1320>
          <div class=e42_1321>
            <div  class="e42_1322"></div>
            <div  class="e42_1323"></div>
          </div>
        </div>
      </div>
    </div>
    <div class=e42_1332>
      <span  class="e42_1326">Quick Links</span>
      <a href="{{url_for('home')}}" class="e42_1327">Home</a>
      <span  class="e42_1330">About Us</span>
      <span  class="e42_1331">Contact Us</span>
      <a href="{{url_for('appointment')}}" class="e42_1328">Appointment</a>
      <span  class="e42_1329">Service</span>
    </div>
    <div class=e44_1365>
      <div class=e42_1346>
        <div class=e42_1347>
          <span  class="e42_1348">Contact</span>
          <span  class="e42_1350">000-000-000</span>
          <span  class="e42_1351">info@email.com</span>
          <span  class="e42_1352">Kalutara South</span>
        </div>
      </div>
      <div  class="e44_1364"></div>
      <div class=e44_1359>
        <div  class="e44_1360"></div>
      </div>
      <div class=e44_1361>
        <div  class="e44_1362"></div>
      </div>
    </div>
      <div class=e42_1345>
        <div class=e42_1333><span class="e42_1334">Hours</span><span class="e42_1335">Monday: </span><span
            class="e42_1340">9:00 - 18:00</span><span class="e42_1341">9:00 - 18:00</span><span class="e42_1342">9:00 -
            18:00</span><span class="e42_1343">9:00 - 18:00</span><span class="e42_1344">9:00 - 18:00</span><span
            class="e42_1336">Thursday:</span><span class="e42_1337">Friday:</span><span class="e42_1338">Tuesday:
          </span><span class="e42_1339">Wednesday:</span></div>
      </div>
      <div class="e44_1366"></div>
    </div>
  </div>
</body>

</html>