.44_1367 { 
	overflow:hidden;
}.e44_1367 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2131px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	position:absolute;
}.e44_1805 { 
	background-image:linear-gradient(0deg, rgba(144.00000661611557, 131.00000739097595, 213.00000250339508, 1) 0%,rgba(128.0000075697899, 117.00000062584877, 147.00000643730164, 1) 100%) ;
	width:100px;
	height:72px;
	position:absolute;
	left:963px;
	top:-296px;
}.e44_1974 { 
	width:647px;
	height:446.45361328125px;
	position:absolute;
	left:22px;
	top:292.546142578125px;
}.e44_1395 { 
	width:647px;
	height:446.45361328125px;
	position:absolute;
	left:0px;
	top:0px;
}.e44_1396 { 
	color:rgba(0, 0, 0, 1);
	width:647px;
	height:298.9384765625px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e44_1397 { 
	color:rgba(0, 0, 0, 1);
	width:573px;
	height:118.20769500732422px;
	position:absolute;
	left:9.094947017729282e-13px;
	top:328.24591064453125px;
	font-family:Roboto;
	text-align:justified;
	font-size:20px;
	letter-spacing:0;
}.e44_1975 { 
	color:rgba(0, 0, 0, 0.5);
	width:421px;
	height:84px;
	position:absolute;
	left:75px;
	top:862px;
	font-family:Roboto;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}.e48_282 { 
	width:625px;
	height:63px;
	position:absolute;
	left:75px;
	top:995px;
}.ei48_282_15_1784 { 
	background-color:rgba(255, 255, 255, 1);
	width:625px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i48_282_15_1784 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei48_282_15_1786 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:128px;
	height:30px;
	position:absolute;
	left:44.438072204589844px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e48_300 { 
	width:625px;
	height:63px;
	position:absolute;
	left:751px;
	top:1227px;
}.ei48_300_15_1784 { 
	background-color:rgba(255, 255, 255, 1);
	width:625px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i48_300_15_1784 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei48_300_15_1786 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:146px;
	height:30px;
	position:absolute;
	left:44.438072204589844px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e48_294 { 
	width:625px;
	height:63px;
	position:absolute;
	left:75px;
	top:1112px;
}.ei48_294_15_1784 { 
	background-color:rgba(255, 255, 255, 1);
	width:625px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i48_294_15_1784 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei48_294_15_1786 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:65px;
	height:30px;
	position:absolute;
	left:44.438072204589844px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e48_301 { 
	width:399px;
	height:63px;
	position:absolute;
	left:76px;
	top:1339px;
}.ei48_301_15_1784 { 
	background-color:rgba(255, 255, 255, 1);
	width:399px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i48_301_15_1784 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei48_301_15_1786 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:84px;
	height:30px;
	position:absolute;
	left:28.369264602661133px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e56_486 { 
	width:625px;
	height:63px;
	position:absolute;
	left:74px;
	top:1457px;
}.ei56_486_15_1784 { 
	background-color:rgba(255, 255, 255, 1);
	width:625px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i56_486_15_1784 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei56_486_15_1786 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:213px;
	height:30px;
	position:absolute;
	left:44.438072204589844px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e49_316 { 
	transform: rotate(90deg);
	background-color:rgba(0, 0, 0, 1);
	width:8.235424995422363px;
	height:14.521685600280762px;
	position:absolute;
	left:457.521484375px;
	top:1369px;
}.e56_487 { 
	transform: rotate(90deg);
	background-color:rgba(0, 0, 0, 1);
	width:8.235424995422363px;
	height:14.521685600280762px;
	position:absolute;
	left:672.521484375px;
	top:1486px;
}.e48_288 { 
	width:625px;
	height:63px;
	position:absolute;
	left:751px;
	top:995px;
}.ei48_288_15_1784 { 
	background-color:rgba(255, 255, 255, 1);
	width:625px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i48_288_15_1784 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei48_288_15_1786 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:126px;
	height:30px;
	position:absolute;
	left:44.438072204589844px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e48_302 { 
	width:399px;
	height:63px;
	position:absolute;
	left:524px;
	top:1340px;
}.ei48_302_15_1784 { 
	background-color:rgba(255, 255, 255, 1);
	width:399px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i48_302_15_1784 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei48_302_15_1786 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:210px;
	height:30px;
	position:absolute;
	left:28.369264602661133px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e57_495 { 
	width:399px;
	height:63px;
	position:absolute;
	left:973px;
	top:1339px;
}.ei57_495_15_1784 { 
	background-color:rgba(255, 255, 255, 1);
	width:399px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i57_495_15_1784 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei57_495_15_1786 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:215px;
	height:30px;
	position:absolute;
	left:28.369264602661133px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e56_488 { 
	width:625px;
	height:63px;
	position:absolute;
	left:750px;
	top:1458px;
}.ei56_488_15_1784 { 
	background-color:rgba(255, 255, 255, 1);
	width:625px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i56_488_15_1784 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei56_488_15_1786 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:154px;
	height:30px;
	position:absolute;
	left:44.438072204589844px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e48_295 { 
	width:625px;
	height:63px;
	position:absolute;
	left:751px;
	top:1112px;
}.ei48_295_15_1784 { 
	background-color:rgba(255, 255, 255, 1);
	width:625px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i48_295_15_1784 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei48_295_15_1786 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:178px;
	height:30px;
	position:absolute;
	left:44.438072204589844px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e48_303 { 
	width:625px;
	height:63px;
	position:absolute;
	left:75px;
	top:1227px;
}.ei48_303_15_1784 { 
	background-color:rgba(255, 255, 255, 1);
	width:625px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i48_303_15_1784 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei48_303_15_1786 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:43px;
	height:30px;
	position:absolute;
	left:44.438072204589844px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e48_283 { 
	width:1301px;
	height:167px;
	position:absolute;
	left:76px;
	top:1573px;
}.ei48_283_15_1801 { 
	background-color:rgba(255, 255, 255, 1);
	width:1301px;
	height:167px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.i48_283_15_1801 { 
	border:1px solid rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
}.ei48_283_15_1802 { 
	color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:216.49295043945312px;
	height:30px;
	position:absolute;
	left:49.095062255859375px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e48_313 { 
	background-color:rgba(0, 0, 0, 1);
	width:21.875px;
	height:25px;
	position:absolute;
	left:1331px;
	top:1243px;
}.e57_494 { 
	background-color:rgba(0, 0, 0, 1);
	width:21.875px;
	height:25px;
	position:absolute;
	left:884px;
	top:1360px;
}.e56_489 { 
	transform: rotate(90deg);
	background-color:rgba(0, 0, 0, 1);
	width:8.235424995422363px;
	height:14.521685600280762px;
	position:absolute;
	left:1354.521484375px;
	top:1487px;
}.e50_319 { 
	width:274px;
	height:67px;
	position:absolute;
	left:579px;
	top:1776px;
}.e50_320 { 
	background-image:linear-gradient(0deg, rgba(144.00000661611557, 131.00000739097595, 213.00000250339508, 1) 0%,rgba(128.0000075697899, 117.00000062584877, 147.00000643730164, 1) 100%) ;
	width:274px;
	height:67px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e50_321 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:34px;
	position:absolute;
	left:82px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:29px;
	letter-spacing:0;
}.e50_322 { 
	width:1318px;
	height:253px;
	position:absolute;
	left:68px;
	top:1862px;
}.ei50_322_42_1318 { 
	width:177px;
	height:34.70588302612305px;
	position:absolute;
	left:0px;
	top:49px;
}.ei50_322_42_1319 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:136.2205810546875px;
	height:24.294116973876953px;
	position:absolute;
	left:40.77941131591797px;
	top:6.073529243469238px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1320 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:34.70588302612305px;
	height:34.70588302612305px;
	position:absolute;
	left:0px;
	top:0px;
}.ei50_322_42_1321 { 
	width:34.70588302612305px;
	height:34.70588302612305px;
	position:absolute;
	left:0px;
	top:0px;
}.ei50_322_42_1322 { 
	background-image:linear-gradient(0deg, rgba(129.00000751018524, 118.00000056624413, 150.0000062584877, 1) 0%,rgba(129.00000751018524, 118.00000056624413, 152.0000061392784, 1) 100%) ;
	width:26.029451370239258px;
	height:34.70588302612305px;
	position:absolute;
	left:0px;
	top:0px;
}.ei50_322_42_1323 { 
	background-image:linear-gradient(0deg, rgba(133.00000727176666, 117.00000062584877, 210.00000268220901, 1) 0%,rgba(144.00000661611557, 131.00000739097595, 213.00000250339508, 1) 100%) ;
	width:26.03009796142578px;
	height:34.7056999206543px;
	position:absolute;
	left:8.675834655761719px;
	top:-1.1368683772161603e-13px;
}.ei50_322_42_1332 { 
	width:126px;
	height:194px;
	position:absolute;
	left:347px;
	top:52px;
}.ei50_322_42_1326 { 
	color:rgba(0, 0, 0, 1);
	width:126px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei50_322_42_1327 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:49px;
	height:21px;
	position:absolute;
	left:0px;
	top:49px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1330 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:74px;
	height:21px;
	position:absolute;
	left:0px;
	top:142px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1331 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:89px;
	height:21px;
	position:absolute;
	left:0px;
	top:173px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1328 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:104px;
	height:21px;
	position:absolute;
	left:0px;
	top:80px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1329 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:59px;
	height:21px;
	position:absolute;
	left:0px;
	top:111px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_44_1365 { 
	width:160px;
	height:134px;
	position:absolute;
	left:1158px;
	top:52px;
}.ei50_322_42_1346 { 
	width:160px;
	height:134px;
	position:absolute;
	left:0px;
	top:0px;
}.ei50_322_42_1347 { 
	width:160px;
	height:134px;
	position:absolute;
	left:0px;
	top:0px;
}.ei50_322_42_1348 { 
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei50_322_42_1350 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:102px;
	height:21px;
	position:absolute;
	left:28px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1351 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:132px;
	height:21px;
	position:absolute;
	left:28px;
	top:80px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1352 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:118px;
	height:21px;
	position:absolute;
	left:28px;
	top:113px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_44_1364 { 
	background-color:rgba(0, 0, 0, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:81px;
}.ei50_322_44_1359 { 
	background-color:rgba(0, 0, 0, 0);
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:52px;
}.ei50_322_44_1360 { 
	background-color:rgba(0, 0, 0, 1);
	width:17.99968719482422px;
	height:17.99968147277832px;
	position:absolute;
	left:-2.1291350904562023e-8px;
	top:0.00031877707806415856px;
}.ei50_322_44_1361 { 
	background-color:rgba(0, 0, 0, 0);
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:114px;
}.ei50_322_44_1362 { 
	background-color:rgba(0, 0, 0, 1);
	width:17.999937057495117px;
	height:18.000225067138672px;
	position:absolute;
	left:0.00021613565331790596px;
	top:0.00004702556543634273px;
}.ei50_322_42_1345 { 
	width:216px;
	height:201px;
	position:absolute;
	left:739px;
	top:52px;
}.ei50_322_42_1333 { 
	width:216px;
	height:201px;
	position:absolute;
	left:0px;
	top:0px;
}.ei50_322_42_1334 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei50_322_42_1335 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:69px;
	height:21px;
	position:absolute;
	left:0px;
	top:49px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1340 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:94px;
	height:21px;
	position:absolute;
	left:122px;
	top:52px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1341 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:94px;
	height:21px;
	position:absolute;
	left:122px;
	top:81px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1342 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:94px;
	height:21px;
	position:absolute;
	left:122px;
	top:114px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1343 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:94px;
	height:21px;
	position:absolute;
	left:122px;
	top:147px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1344 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:94px;
	height:21px;
	position:absolute;
	left:122px;
	top:180px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1336 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:79px;
	height:21px;
	position:absolute;
	left:0px;
	top:142px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1337 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:53px;
	height:21px;
	position:absolute;
	left:0px;
	top:173px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1338 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:72px;
	height:21px;
	position:absolute;
	left:0px;
	top:80px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_42_1339 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:97px;
	height:21px;
	position:absolute;
	left:0px;
	top:111px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei50_322_44_1366 { 
	transform: rotate(0.1304150473499795deg);
	width:1318.00341796875px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}.i50_322_44_1366 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e55_483 { 
	width:304px;
	height:304px;
	position:absolute;
	left:921px;
	top:162px;
}.e57_499 { 
	background-color:rgba(0, 0, 0, 1);
	width:24.21875px;
	height:24.21875px;
	position:absolute;
	left:1329px;
	top:1359px;
}