body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003366;
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
}

button {
  background-color: #66CCFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.box {
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #F2F2F2;
  border-radius: 5px;
}

h2 {
  margin-top: 0;
}

.appointments, .history, .bills {
  margin-top: 20px;
}

.appointment, .bill {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding-bottom: 10
